
@font-face {
    font-family: 'montserratitalic';
    src: url('fonts/webfontkit-20210228-161148/montserrat-italic-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20210228-161148/montserrat-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'montserratlight';
    src: url('fonts/webfontkit-20210228-161148/montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20210228-161148/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'montserratlight_italic';
    src: url('fonts/webfontkit-20210228-161148/montserrat-lightitalic-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20210228-161148/montserrat-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratmedium';
    src: url('fonts/webfontkit-20210228-161148/montserrat-medium-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20210228-161148/montserrat-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'montserratregular';
    src: url('fonts/webfontkit-20210228-161148/montserrat-regular-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20210228-161148/montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'montserratsemibold_italic';
    src: url('fonts/webfontkit-20210228-161148/montserrat-semibolditalic-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20210228-161148/montserrat-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratthin';
    src: url('fonts/webfontkit-20210228-161148/montserrat-thin-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20210228-161148/montserrat-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserratthin_italic';
    src: url('fonts/webfontkit-20210228-161148/montserrat-thinitalic-webfont.woff2') format('woff2'),
         url('fonts/webfontkit-20210228-161148/montserrat-thinitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (min-width: 375px) {
    body{
        overflow-y: hidden; 
    }


    h1 {
        font-family: 'montserratmedium';
        src: url('fonts/webfontkit-20210228-161148/montserrat-regular-webfont.woff2') format('woff2'),;
        font-size:33rem;
        text-align:center;
        margin-top:39vh;
        margin-left:18vw;
        margin-right: auto;
        padding: 0rem;
        color:black;
        overflow: auto;
        white-space: nowrap;
        display:block;
    }

    h2{
        display:none;
    }

    h5 {
        font-family: 'montserratmedium';
        src: url('fonts/webfontkit-20210228-161148/montserrat-regular-webfont.woff2') format('woff2'),;
        font-size:7rem;
        margin-top: -8vh;
        color:white;
        position:fixed;
        left:-200px;
        top:50vh;
        z-index:100;
        transform: rotate(-90deg);
        white-space: nowrap;
        display:inline;
    }

    .square1 {
        height:100vh;
        width:18vw;
        background-color:black;
        position:absolute;
        top:0;
        left:0%;
    } 

    .Quest {
        font-family: 'montserratthin';
        src: url('fonts/webfontkit-20210228-161148/montserrat-thin-webfont.woff2') format('woff2'),;
        font-size: 23rem;
        text-align:center;
        color:black;
        border-style: solid;
        margin-top:-13px;
        margin-bottom: 40px;
        padding:4px;
        /* margin-left: 70%; */
        text-decoration: none;
    }

    .Quest:hover{
        color:white;
        background-color:black;
        border-radius: 90%;
        cursor: pointer;
        transition: 0.25s border-radius;
    } 
}
@media only screen and (max-width: 812px) {
    body{
        background-color:black;
        /* overflow-y: hidden; */
    }

    h1 {
        display:none;
    }
    h2{
        font-family: 'montserratmedium';
        src: url('fonts/webfontkit-20210228-161148/montserrat-regular-webfont.woff2') format('woff2'),;
        font-size:2rem;
        text-align:center;
        margin-top:15vh;
        margin-left:-20%;
        margin-right: auto;
        padding: 0rem;
        color:white;
        /* overflow: auto; */
        /* white-space: nowrap; */
        display:block;
    }


    h5 {
        font-family: 'montserratmedium';
        src: url('fonts/webfontkit-20210228-161148/montserrat-regular-webfont.woff2') format('woff2'),;
        font-size: 1.7rem;
        margin-top: 23vh;
        color:white;
        /* margin-top:35vh; */
        margin-left:62%;
        margin-right: auto;
        display:block;
        transform: rotate(0deg);
    }
    
    .Quest {
        font-family: 'montserratthin';
        src: url('fonts/webfontkit-20210228-161148/montserrat-thin-webfont.woff2') format('woff2'),;
        font-size: 5rem;
        text-align:center;
        color:rgb(255, 255, 255);
        border-style: solid 0.5px;
        justify-content: center;
        align-items: center;
        padding:4px;
        text-decoration: none;
    }
    
    .Quest:hover {
        color:black;
        background-color:white;
        border-radius: 80%;
        cursor: pointer;
        transition: 0.25s border-radius;
    }

    .square1 {
        height:100vh;
        width:8vw;
        background-color:white;
        position:absolute;
        top:0;
        left:0%;
    } 
}


