@font-face {
    font-family: 'Inria Sans';
    src: url('InriaSans-Bold.woff2') format('woff2'),
        url('InriaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

