@font-face {
    font-family: 'Inria Sans';
    src: url('InriaSans-Bold.woff2') format('woff2'),
        url('InriaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inria Sans';
    src: url('InriaSans-BoldItalic.woff2') format('woff2'),
        url('InriaSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}


body{
    background-color:#A5FFB9;
}

h1{
    font-family: 'Inria Sans';
    src: url('InriaSans-Bold.woff2') format('woff2'),;
    font-size: 4rem;
    text-align: center;
    color:#3700ff;
}

h3{
    font-family: 'Inria Sans';
    src: url('InriaSans-BoldItalic.woff2') format('woff2'),;
    font-size: 1.5rem;
    text-align: center;
    color:#3700ff;
}

#result{

    font-family: 'Inria Sans';
    src: url('InriaSans-BoldItalic.woff2') format('woff2'),;
    font-size: 1.5rem;
    text-align: center;
    color:#3700ff;
}

#input{

    font-family: 'Inria Sans';
    src: url('InriaSans-BoldItalic.woff2') format('woff2'),;
    /* width:90%; */
    /* height:30vh; */
    padding: 2px 20px;
    margin: 80px 22%;
    font-size: 1.5rem;
    text-align: center;
    border-radius:16px;
    border:5px solid #77FFF5;
    background-color: #fdeefc;
    color:#b005ff;
}

#input[type=text]{

    font-family: 'Inria Sans';
    src: url('InriaSans-BoldItalic.woff2') format('woff2'),;
    height:5vh;
    width:50%;
    transition: all 0.7s ease-in-out;
}

#input[type=text]:focus{

    font-family: 'Inria Sans';
    src: url('InriaSans-BoldItalic.woff2') format('woff2'),;
    width:50%;
    height:40vh;
    margin: 80px 22%;
}

::placeholder{
    font-family: 'Inria Sans';
    src: url('InriaSans-BoldItalic.woff2') format('woff2'),;
    color:#b005ff;
    font-size: 1.3rem;
}

button{
    font-family: 'Inria Sans';
    src: url('InriaSans-BoldItalic.woff2') format('woff2'),;
    text-align: center;
    border-radius:16px;
    color:#b005ff;
    font-size: 1.3rem;
    margin: 66px 40%;
    width:20%;
}

span{
    color:blueviolet;
}

@media only screen and (max-width: 812px){
    h1{
        font-size: 3rem;
    }
    #input{
        font-size: 1rem;
        padding: 2px 20px;
        margin: 80px 7%;
    }
    ::placeholder{
        font-size: 1.6rem;
    }
    button{
        font-size: 2rem;
        margin: 66px 30%;
        width:40%;
    }
    #input[type=text]{
        width:73%;
    }

    #input[type=text]:focus{
        width:73%;
        height:20vh;
        margin: 7% 7%;
        font-size: 1.6rem;
    }
}
