.background{
  background-color:rgb(240, 244, 0);
  clip-path:url(#clip);
  object-fit: cover;
}

#wrapper{
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  
}

.size{
  width: 100%;
  padding-bottom: 98%;
}

body{
  height: 20000px;
  background-color: rgb(10, 0, 107);
}

/* .chameleon{
  clip-path:url(#clip);
  background-color: black;
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
} */

.chameleon{
  background-size: 20px 30px;
}

.cham{
  width:200px;
}

h1{
  color: greenyellow;
  /* font-size: 100px; */
  position:fixed;
  padding:40px;
  z-index:1;
}

span{
  color:rgb(101, 168, 0);
}