body {
    background-image: linear-gradient( #ff5e00, #ff00b1, #ff0000);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
  }
 h1{
    font-size: 6rem;
    color:darkblue;
    font-family:sans-serif;
    padding:1rem;
    text-align: center;
}

 h1:hover{
 color:blueviolet;
 }

h2{
 text-align: center;
 font-size: 4rem;
 color: darkblue;
}

  li{
      text-align: left;
      font-size: 1.6rem;
      margin-left:30vw;
      margin-right:30vw;
      font-family:sans-serif;
      color: rgb(0, 0, 71);
  }

  a{
    text-align: right;
    font-size: 4rem;
    margin-left:40vw;
    color:  rgb(0, 0, 71);
   }