@font-face {
  font-family: 'Inria Sans';
  src: url('InriaSans-Bold.woff2') format('woff2'),
      url('InriaSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inria Sans';
  src: url('InriaSans-BoldItalic.woff2') format('woff2'),
      url('InriaSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

body{
    background-color:#FFCCFA;
}

.container{
    position: relative;
    text-align: center;
}

h1{
    font-family: 'Inria Sans';
    src: url('InriaSans-Bold.woff2') format('woff2'),;
    font-size: 3.3rem;
    z-index: 1;
    padding-left:10%;
    padding-right:10%;
    padding-top:9%;
    color:rgb(0, 4, 255);
}

.green-circle{
 height:60vh;
 width:60vw;
 background-color:#77FFF5;
 border-radius: 50%;
 display:inline-block;
 filter:blur(80px);
 position: fixed;
 top:20%;
 left:20%;
 z-index: -1;
}

.blue-circle{
    height:40vh;
    width:40vw;
    background-color:#A5FFB9;
    border-radius: 50%;
    display:inline-block;
    filter:blur(30px);
    position: fixed;
    top:30%;
    left:30%;
    z-index: -1;
}


#star-five {
    margin: 50px 0;
    position: relative;
    display: block;
    color: #FF00E5;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #FF00E5;
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    position: fixed;
    top:50%;
    left:43%;

  }
  #star-five:before {
    border-bottom: 80px solid #FF00E5;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  #star-five:after {
    position: absolute;
    display: block;
    color: #FF00E5;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #FF00E5;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }

  #star-five:hover {
      filter:blur(12px);
  }
