@font-face {
    font-family: 'Inria Sans';
    src: url('InriaSans-BoldItalic.woff2') format('woff2'),
        url('InriaSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

